* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('Mirror_by_Uday_Nakade.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: #1c1c1c;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#terminal-container {
    width: 80%;
    position: relative;
}


#title-bar {
    background-color: #D7D7D7;
    color: #000;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #444;
    font-family: inherit;
    font-size: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /*cursor: move;*/
}

.title {
    flex: 1;
    text-align: center;
}

.title-buttons {
    display: flex;
    margin-right: 10px;
}

.button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.close {
    background-color: #ff5f57;
}

.minimize {
    background-color: #ffbd4c;
}

.maximize {
    background-color: #27c93f;
}

#terminal {
    position: relative;
    margin-top: 25px;
    height: 500px;
    border: 2px rgba(0, 0, 0, 0.8);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px #000;
}

#command-line {
    display: flex;
    align-items: center;
    white-space: nowrap;
    line-height: 1.5;
}

#prompt {
    margin-right: 5px;
}

#output {
    white-space: pre-wrap;
    overflow-y: auto;
    max-height: 95%;
    box-sizing: border-box;
}

.padded-list li {
    list-style-type: none;
    padding-left: 30px;
}

#input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    flex: 1;
    line-height: inherit;
}

#input::placeholder {
    color: #fff;
    opacity: 0.6;
}